body{
    font-family: "Montserrat", serif;
    margin:0;
    background-color: black;
    color:white;
    overflow:hidden;
}
.main{
    display:flex;
    height:100vh;
    padding:0.5rem;
}

.sidebar{
    background:#000;
    width:340px;
    border-radius: 1rem; 
    margin-right: 0.5rem;
}
.main-content{
    background-color:#121212;
    flex:1;
    border-radius: 1rem; 
    overflow:auto;
    padding:0 1.5rem 0 1.5rem;
}
.music-player{
    background-color:black;
    position:fixed;
    bottom:0px;
    width:100%;
    height:72px;
}
a{
    text-decoration:none ;
    color:white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column; 
    justify-content:center;
    height:100px;
    padding:0.5rem 0.7rem;
    

}
.nav-option{
    line-height:2.5rem;
    opacity:0.7;
    padding:0.5rem 0.75rem;
}

.nav-option:hover{
    opacity:1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem; 
    height:100%;
    margin-top: 0.5rem;
    padding:0.5rem 0.75rem;
    
}
.options{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height:1.25rem;
    width:1.25rem;
}

.icons{
   font-size: 1.25rem;
    display:flex;
}
.icons i{
   opacity:0.7;
   margin-right: 1rem;
}
.icons i:hover{
    opacity:1;
}
.box{
    background-color: #232322;
    height: 8rem;
    border-radius: 0.75rem;
    margin:0.5rem 0 1.75rem 0;
    padding:0.75rem 1.25rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity:0.9;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding:0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width:fit-content;
}

.dark-badge{
    background-color: #000;
    color: #fff;
}

.sticky-nav{
    position:sticky;
    top:0;
    background-color:#121212;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons{
 margin-left: 0.75rem;
}
.sticky-nav-options{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.nav-item{
    margin-right: 1rem;
}

@media(max-width:1000px){
    .hide{
        display:none;
    }
}

.card{
    background-color: #232322;
    width:150px;
    border-radius:0.5rem;
    padding:1rem;
    margin-left:1.5rem;
    margin-top: 1rem;
}

.cards-containers{
   display: flex;
   flex-wrap: wrap;
}

.card-img{
    width:100%;
    border-radius:0.5rem;

}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size:0.85rem;
    opacity:0.8;
}

.footer{
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.line{
    width:90%;
    height:50%;
    border-top: 1px solid white;
    opacity:0.4;
}
.music-player{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.album{
    width:25%;
    /* background-color: pink; */
}
.player{
    width:50%;
    /* background-color:orange; */
}
.controls{
    width:25%;
    /* background-color:green; */
}

.player-controls{
    display:flex;
    justify-content: center;
    align-items: center;
 

}
.player-control-icon{
    height:1rem;
    margin-right:1.75rem;
    opacity:0.7;

}
.player-control-icon:hover{
    opacity:1;
}
.playback-bar{
    display:flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width:70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height:0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:1rem;
    width:1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.day{
    display: flex;
    height:50px;
    margin-left: 3px;
}
.heart{
    height:25px;
    margin-left:100px;
    margin-bottom: 5px;
    margin-top: 12px;
}
.heart:hover{
    background-color: red;
}
.tv{
    height:35px;
    margin-top: 8px;
    margin-left: 10px;
    position: fixed;
}

.Daylight{
    margin-top: 8px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
    justify-content: space-between;

}
.light{
    margin-left: 5px;
    font-size:8px;


}
.manu{
  justify-content: space-between;
}
.controls{
    width:50px;
    display:flex;
   margin-left: 100px;
}

.controlers{
    height:30px;
    margin-left: 5px;
    margin-top: 15px;
    justify-content: space-around;
}
.controlers:hover{
    height:35px;
    opacity: 2;
    
}
.last-control{
    align-items: center;
    /* background-color: aqua; */
}
 #three{
   height:15px;
    margin-bottom: 5px;
    margin-top: 22px;
    opacity: 0.7;
 }
 #three:hover{
    height:20px;
    opacity: 2;
    
 }
 #four{
    height:15px;
    margin-bottom: 6px;
    margin-top: 22px;
    margin-left: 10px;
    opacity: 0.7;
 }
 #four:hover{
    height:20px;
    opacity: 2;
    
 }
 #five{
    margin-left: 19px;
    
 }
 .sound{
    height:3px;
   border-radius: 10px;
    appearance: none;
    cursor: pointer;
    /* width:-2px; */
    margin-right: 25px;
    margin-top:23px ;
    margin-left: 100px;
   
}

